@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 10, 10; /* #0A0A0A */
    --background-end-rgb: 0, 0, 0;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    @apply font-sans antialiased selection:bg-mbi-red selection:text-white;
  }

  /* Custom Scrollbar for Chrome/Safari/Edge */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #0A0A0A;
  }
  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #E63946;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
